# Ignore Python cache and metadata
server/main/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local environment
server/.venv/

# Ignore Git repo and config files
.git/
.gitignore

# Ignore MacOS files
.DS_Store

# Ignore environment variable files
.env
